// Japanese translation courtesy of Mikeore
Localization
{
  ja
  {
      // Nuclear Tech Branch
      #LOC_CTT_nuclearPower_title = 原子力技術
      #LOC_CTT_nuclearPower_description = 原子炉から電力を取り出しましょう！この便利なキッドを使えば自分専用の原子炉を作れます。
      #LOC_CTT_nuclearFuelSystems_title = 核燃料システム
      #LOC_CTT_nuclearFuelSystems_description = 核燃料は自分自身をリサイクルできません。さらに一人で動くこともありません。怒りながら私達を見つめる以外のことは何もしないのです。
      #LOC_CTT_largeNuclearPower_title = 大型原子力技術
      #LOC_CTT_largeNuclearPower_description = 原子炉を住んでいる場所の近くに置かないようにするのは絶対に忘れてはなりません。暗闇の中で光り輝くカーバル達はハロウィンでも見たくはないでしょう！
      #LOC_CTT_advNuclearPower_title = 先進的原子力技術
      #LOC_CTT_advNuclearPower_description = この技術を使えば卵を数秒で焼き上げることができます。もちろん他のものも。
      #LOC_CTT_expNuclearPower_title = 実験的原子力技術
      #LOC_CTT_expNuclearPower_description = より小さな空間でより多くの熱を生み出すために様々な原子炉の形状と状態を試しましょう。
      #LOC_CTT_exoticNuclearPower_title = 異種原子力技術
      #LOC_CTT_exoticNuclearPower_description = 核分裂炉の限界を突破し、新たなステージに到達しましょう。
      #LOC_CTT_fusionPower_title = 核融合技術
      #LOC_CTT_fusionPower_description = 燃料が安い上にパワーも大きい。まさに発電技術の聖杯です。
      #LOC_CTT_advFusionReactions_title = 先進的核融合技術
      #LOC_CTT_advFusionReactions_description = 技術の進歩により、ほとんど何でも核融合することが判明しました。もちろんジェベディア・カーマンのチーズサンドも！
      #LOC_CTT_exoticReactions_title = 特殊核融合技術
      #LOC_CTT_exoticReactions_description = 十分な研究資金を手に、高エネルギー粒子を照射しましょう。
      #LOC_CTT_quantumReactions_title = 超高性能核融合技術
      #LOC_CTT_quantumReactions_description = 複雑な核融合反応を応用しましょう。
      #LOC_CTT_antimatterPower_title = 反物質技術
      #LOC_CTT_antimatterPower_description = 驚くほど微小な粒子の力で驚くほど大きな爆発をおこしましょう。
      #LOC_CTT_unifiedFieldTheory_title = 統一場理論
      #LOC_CTT_unifiedFieldTheory_description = 今まで発見した全ての物理学の理論を、黒板を破壊するほど長い方程式にまとめました。
      #LOC_CTT_ultraHighEnergyPhysics_title = 超高エネルギー物理学
      #LOC_CTT_ultraHighEnergyPhysics_description = 結論から伝えますと、これはもはやSFです！

      // Nuclear Propulsion Branch

      #LOC_CTT_improvedNuclearPropulsion_title = 改良原子力推進技術
      #LOC_CTT_improvedNuclearPropulsion_description = より高温の反応炉、より優れたエンジン。
      #LOC_CTT_advNuclearPropulsion_title = 先進的原子力推進技術
      #LOC_CTT_advNuclearPropulsion_description = 原子力エンジンをさらに高出力に。ボス、もうこれ以上性能を良くすることはできません！
      #LOC_CTT_expNuclearPropulsion_title = 実験的原子力推進技術
      #LOC_CTT_expNuclearPropulsion_description = 基本的に、原子力技術はめちゃくちゃお金のかかるお湯沸かしだと言われてきました。我々はもはやお湯だけではなく、なんでも沸騰させることができます！
      #LOC_CTT_exoticNuclearPropulsion_title = 異種原子力推進技術
      #LOC_CTT_exoticNuclearPropulsion_description = 最も奇妙で、最も変で、最もクレイジーな核推進技術の研究です。
      #LOC_CTT_fusionRockets_title = 核融合ロケット技術
      #LOC_CTT_fusionRockets_description = このロケット技術は、もはや他のすべてのロケットを時代遅れにしようと全力なようです。

      // Rocketry Tech
      #LOC_CTT_experimentalRocketry_title = 実験的ロケット工学
      #LOC_CTT_experimentalRocketry_description = 「実験的」を軽んじてはなりません。
      #LOC_CTT_giganticRocketry_title = 超超超大型ロケット工学
      #LOC_CTT_giganticRocketry_description = 大型化反対派の主張を無視し、さらに大型化しましょう。
      #LOC_CTT_colossalRocketry_title = 超超超超大型ロケット工学
      #LOC_CTT_colossalRocketry_description = これでライバルにまた一歩差をつけることができます。さらに大きな発射台を用意しましょう……。
      #LOC_CTT_specializedFuelStorage_title = 大型燃料システム
      #LOC_CTT_specializedFuelStorage_description = 一部の燃料タンクから燃料が侵食し始めているため、燃料封じ込め技術をさらに改良しましょう。
      #LOC_CTT_exoticFuelStorage_title = エキゾチック燃料システム
      #LOC_CTT_exoticFuelStorage_description = 高価な燃料タンクに高価な燃料を保存しておくと、さらに高価になりかねません。
      #LOC_CTT_extremeFuelStorage_title = 超大型燃料システム
      #LOC_CTT_extremeFuelStorage_description = 中性子星並の密度まで圧縮した燃料タンクに燃料を詰め込みましょう。

      // Construction Tech
      #LOC_CTT_exoticAlloys_title = 異種金属加工
      #LOC_CTT_exoticAlloys_description = もっともタフでもっとも軽い合金だけがこのクラブに入会することを許可されるのです。
      #LOC_CTT_offworldManufacturing_title = 宇宙無人化技術
      #LOC_CTT_offworldManufacturing_description = 工場の組立ラインを作りましょう……宇宙で！
      #LOC_CTT_orbitalMegastructures_title = 軌道建造技術
      #LOC_CTT_orbitalMegastructures_description = 最大で最重量なカーバル建造計画を練りましょう。
      #LOC_CTT_orbitalAssembly_title = 軌道組み立て技術
      #LOC_CTT_orbitalAssembly_description = カービンで作られた製品は過大評価されています。いまや費用をかければ軌道上で製品を作れるのです。

      // Robotics Tech
      #LOC_CTT_advActuators_title = 先進的アクチュエーター
      #LOC_CTT_advActuators_description = モーターの力であらゆるものを動かしましょう。
      #LOC_CTT_experimentalActuators_title = 実験的アクチュエーター
      #LOC_CTT_experimentalActuators_description = とにかく動けば動くほどよいのです。

      // Atmo Tech
      #LOC_CTT_subsonicFlight_title = 亜音速飛行技術
      #LOC_CTT_subsonicFlight_description = ときには速すぎるだけでは不十分なこともあります。
      #LOC_CTT_efficientFlightSystems_title = 高効率飛行技術
      #LOC_CTT_efficientFlightSystems_description = ときにはもっとゆっくり飛行したいし、燃料を少しでも少なくしたい人がいるようです。信じられません。
      #LOC_CTT_specializedFlightSystems_title = 特殊飛行技術
      #LOC_CTT_specializedFlightSystems_description = ときにはちょっと少なめのジェットが必要なのです。
      #LOC_CTT_expAircraftEngines_title = 実験的飛行技術
      #LOC_CTT_expAircraftEngines_description = ロケットと航空機用のエンジンは異なります。もちろん工夫はできますが。
      #LOC_CTT_aerospaceComposites_title = 航空宇宙複合素材
      #LOC_CTT_aerospaceComposites_description = 軽く、熱に強く、丈夫です。
      #LOC_CTT_advAerospaceEngineering_title =  先進的航空宇宙技術
      #LOC_CTT_advAerospaceEngineering_description = とがった形、とがっていない形、それらは気流とどのように相互作用するのでしょうか。

      // Capsule Tech
      #LOC_CTT_enhancedSurvivability_title = 改良サバイバビリティ
      #LOC_CTT_enhancedSurvivability_description = パイロットの生存率を高めることによって、別れの涙を減らすことが可能です。
      #LOC_CTT_simpleCommandModules_title = 基礎コマンドモジュール
      #LOC_CTT_simpleCommandModules_description = 宇宙への第一歩を踏み出すためのコマンドモジュールです。
      #LOC_CTT_heavyCommandModules_title = 超大型コマンドモジュール
      #LOC_CTT_heavyCommandModules_description = 大きな宇宙船には大きなコマンドモジュールが必要なのです。
      #LOC_CTT_specializedCommandModules_title = 特殊コマンドモジュール
      #LOC_CTT_specializedCommandModules_description = 手が込んで、特殊な目的のために作られた宇宙船には特殊なコマンドモジュールが必要なのです。

      #LOC_CTT_heavyCommandCenters_title = 超大型コマンドセンター
      #LOC_CTT_heavyCommandCenters_description = もっとも大きく、もっとも印象的な宇宙船を作るためのコマンドセンターです。
      #LOC_CTT_heavyLanders_title = 超大型着陸船
      #LOC_CTT_heavyLanders_description = 数トンのカーバル達と数トンの物資を運ぶために実験的な石板式ブレーキを進歩させましょう。
      #LOC_CTT_specializedCommandCenters_title = 特殊コマンドセンター
      #LOC_CTT_specializedCommandCenters_description = おそらく、これはコマンドポッド以外の何らかの名称をつけるべきでしょう。お客様にアンケートを取ったところ、コマンドセンターという名称が良いそうです。
      #LOC_CTT_specializedLanders_title = 特殊着陸船
      #LOC_CTT_specializedLanders_description = 特殊な着陸船を使って特殊な条件で着陸するためには、研究費用がさらに必要になるかもしれません。

      // Resources/Science Tech
      #LOC_CTT_advOffworldMining_title = 先進的宇宙採掘技術
      #LOC_CTT_advOffworldMining_description = 複数のドリルを備えた採掘装置は大きな可能性をもたらします。採掘作業員も募集中です。
      #LOC_CTT_resourceExploitation_title = 資源開発技術
      #LOC_CTT_resourceExploitation_description = ここに金が埋まっているぞ！ドンドン掘れ！
      #LOC_CTT_specializedScienceTech_title = 特殊科学技術
      #LOC_CTT_specializedScienceTech_description = 科学技術の発展により、機器本体よりも取扱説明書のほうが分厚くなりました。
      #LOC_CTT_longTermScienceTech_title = 長期間科学技術
      #LOC_CTT_longTermScienceTech_description = 科学実験の中にはとんでもなく時間を必要とするものもあります。データを分析するのには更に時間が必要かもしれません！
      #LOC_CTT_scientificOutposts_title = 科学研究前哨基地
      #LOC_CTT_scientificOutposts_description = 科学に特化した基地というアイデアは素晴らしいものです。
      #LOC_CTT_highEnergyScience_title = 高エネルギー科学技術
      #LOC_CTT_highEnergyScience_description = 2001年以降、科学は粒子加速器のなかで行われています。
      #LOC_CTT_appliedHighEnergyPhysics_title = 応用高エネルギー科学技術
      #LOC_CTT_appliedHighEnergyPhysics_description = 高エネルギー科学技術と物理学を応用し、成果を生み出しましょう。

      // AI Tech
      #LOC_CTT_mechatronics_title = メカトロニクス
      #LOC_CTT_mechatronics_description = ロボットが世界を制服するという誇張された噂が広がりを見せています。
      #LOC_CTT_artificialIntelligence_title = 人工知能技術
      #LOC_CTT_artificialIntelligence_description = パイロットの適切な判断を補助する賢いコンピューターです。

      // Ion Engine Tech
      #LOC_CTT_advIonPropulsion_title = 先進的イオン推進技術
      #LOC_CTT_advIonPropulsion_description = 研究開発部門は、これらの技術が素晴らしい広報画材になると太鼓判を押しています。
      #LOC_CTT_plasmaPropulsion_title = プラズマ推進技術
      #LOC_CTT_plasmaPropulsion_description = 我々はついに物質の第4の状態を発見しました！取り扱いはほんの少し危険です。
      #LOC_CTT_advEMSystems_title = 先進的プラズマ推進技術
      #LOC_CTT_advEMSystems_description = 電気と磁石がどのように相互作用するか研究した結果、灼然のガスを噴射できるようになりました。
      #LOC_CTT_specializedPlasmaGeneration_title = 特殊プラズマ推進技術
      #LOC_CTT_specializedPlasmaGeneration_description = より儲けるためにプラズマを生成し封じ込めましょう。
      #LOC_CTT_exoticPlasmaPropulsion_title =異種プラズマ推進技術
      #LOC_CTT_exoticPlasmaPropulsion_description = プラズマ自体がエキゾチック物質である一方で、そのエキゾチックな性質をエキゾチックに利用することができるかもしれません、
      #LOC_CTT_advGriddedThrusters_title = 電気推進技術
      #LOC_CTT_advGriddedThrusters_description = この技術を「共有結合性推進技術」と呼ぼうとした科学者もいたが、幸運なことに我々はそう呼ばないように共有することができた。
      #LOC_CTT_expGriddedThrusters_title = 実験的電気推進技術
      #LOC_CTT_expGriddedThrusters_description = 3千年紀の暗い未来においては、もはやイオン推進技術しかありません。

      // Solar Tech
      #LOC_CTT_advSolarTech_title = 先進的太陽光技術
      #LOC_CTT_advSolarTech_description = より光を集めることのできるレンズの発明により、エンジニアたちは太陽光発電の可能性に沸き立ちつつあります。
      #LOC_CTT_advPVMaterials_title = 先進的光起電力技術
      #LOC_CTT_advPVMaterials_description = より強く、曲げることができる太陽電池！
      #LOC_CTT_cuttingEdgeSolarTech_title = 最先端太陽光技術
      #LOC_CTT_cuttingEdgeSolarTech_description = 現実にもあるような太陽パネルです。
      #LOC_CTT_exoticSolarTech_title = エキゾチック太陽光技術
      #LOC_CTT_exoticSolarTech_description = 折り畳め、曲げられ、安く、どこにでも置けます！

      // Electrical Tech
      #LOC_CTT_highTechElectricalSystems_title = 高度先端電気システム
      #LOC_CTT_highTechElectricalSystems_description = 電気系統を統一しましょう。
      #LOC_CTT_highPowerElectricalSystems_title = 高出力電気システム
      #LOC_CTT_highPowerElectricalSystems_description = メガワット単位の電力を宇宙船、宇宙ステーション、宇宙基地に配電するためには高度な配線技術が必要です。
      #LOC_CTT_experimentalElectricalSystems_title = 実験的電気システム
      #LOC_CTT_experimentalElectricalSystems_description =  接続箱、電源ボタン、絶縁ケーブル……配電というものは複雑ですね！
      #LOC_CTT_exoticElectricalSystems_title = エキゾチック電気システム
      #LOC_CTT_exoticElectricalSystems_description =  最先端宇宙船向けの超ハイテク送電システムです。
      #LOC_CTT_microwavePowerTransmission_title = マイクロ波電力伝送システム
      #LOC_CTT_microwavePowerTransmission_description = どれだけ長い電線が必要なんだ……ああ、今のナシで。

      // Heat management tech
      #LOC_CTT_heatManagementSystems_title = 熱管理システム
      #LOC_CTT_heatManagementSystems_description = お菓子が熱くならないようにヒートラジエターを研究しましょう。
      #LOC_CTT_advHeatManagement_title = 先進的熱管理システム
      #LOC_CTT_advHeatManagement_description = エアコンをつけっぱなしにするために熱管理をさらに研究しましょう。
      #LOC_CTT_specializedRadiators_title = 特殊ラジエーター
      #LOC_CTT_specializedRadiators_description = 扱いにくいラジエーターを今すぐ捨てよう！
      #LOC_CTT_exoticRadiators_title = エキゾチック・ラジエーター
      #LOC_CTT_exoticRadiators_description = エキゾチックな素材で排熱しましょう。

      // Habitation tech
      #LOC_CTT_recycling_title = 再生利用技術
      #LOC_CTT_recycling_description = リユース、リデュース、リサイクルな技術です。
      #LOC_CTT_hydroponics_title = 水耕栽培技術
      #LOC_CTT_hydroponics_description = 泥に汚れず植物を育てましょう！
      #LOC_CTT_shortTermHabitation_title = 短期間居住技術
      #LOC_CTT_shortTermHabitation_description = カーバル、トラ、シマウマ、チンパンジー、ハイエナが一緒に宇宙カプセルに乗り込んでいます。
      #LOC_CTT_longTermHabitation_title = 長期間居住技術
      #LOC_CTT_longTermHabitation_description = カーバル達の進歩のために高度な心理学的実験を行いましょう。
      #LOC_CTT_colonization_title = 植民地化技術
      #LOC_CTT_colonization_description = カーバル達を拡散するためにはもはや爆発させるだけでは不十分なようです。
      #LOC_CTT_advColonization_title = 先進的植民地化技術
      #LOC_CTT_advColonization_description = 完全自立型の居住空間は殆ど揃っています……あとは水だけ！

      // Logistics Tech
      #LOC_CTT_storageTech_title = 保管技術
      #LOC_CTT_storageTech_description = ダンボールだけでは足りないときに！
      #LOC_CTT_logistics_title = ロジスティクス
      #LOC_CTT_logistics_description = より大きく、より品質の良いダンボールを作りましょう。
      #LOC_CTT_advLogistics_title =  先進的ロジスティクス
      #LOC_CTT_advLogistics_description = 箱から箱へモノを移動させましょう……宇宙で！
  }
}